/** {
  border: 1px dotted orange;
  }*/

body {
  font-family: Helvetica, sans-serif;
  color: darkgreen;
  background-image: url('tp.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% auto;
  background-color: #e6f2ff;
}

button {
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
}

.inline-p {
  display: inline;
}

canvas {
  /* outline: 2px solid black; */
}

ul {
  background: lightgray;
  width: 25%;
}